<center><Strong><h3>Hammaad Rizwan 2237928</h3></Strong></center>
<h2> Introduction </h2>

#### Getting an Idea of the dataset

In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [126]:
# Read in the data
adult_data = pd.read_csv('Data\\adult.data')
adult_test = pd.read_csv('Data\\adult.test')
adult_data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

Header isnt avaialbe need to add the headers from adult.names file

In [127]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','income']
adult_data.columns = columns
adult_test.columns = columns

# Resave the datasets as csv files
adult_data.to_csv('Data\\adult_data.csv', index=False)
adult_test.to_csv('Data\\adult_test.csv', index=False)

Describe the dataset

In [128]:
adult_data.describe()

,age,fnlwgt,education_num,capital-gain,capital-loss,hours-per-week
count,32560.000000,3.256000e+04,32560.000000,32560.000000,32560.000000,32560.000000
mean,38.581634,1.897818e+05,10.080590,1077.615172,87.306511,40.437469
std,13.640642,1.055498e+05,2.572709,7385.402999,402.966116,12.347618
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178315e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783630e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370545e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

check for missing values

In [129]:
adult_data.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

Check from each column for any incorrect data/ typo

In [130]:
adult_data['workclass'].value_counts()

workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: count, dtype: int64

In [131]:
adult_data['education'].value_counts()

education
 HS-grad         10501
 Some-college     7291
 Bachelors        5354
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: count, dtype: int64

In [132]:
adult_data['marital_status'].value_counts()

marital_status
 Married-civ-spouse       14976
 Never-married            10682
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: count, dtype: int64

In [133]:
adult_data['occupation'].value_counts()

occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3769
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: count, dtype: int64

In [134]:
adult_data['relationship'].value_counts()

relationship
 Husband           13193
 Not-in-family      8304
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: count, dtype: int64

In [135]:
adult_data['race'].value_counts()

race
 White                 27815
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: count, dtype: int64

In [136]:
adult_data['sex'].value_counts()

sex
 Male      21789
 Female    10771
Name: count, dtype: int64

In [137]:
adult_data['native-country'].value_counts()

native-country
 United-States                 29169
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: count, dtype: int64

there are values with "?" have to identify its importance

Cleaning the columns starting from workclass

In [138]:
adult_data[adult_data['workclass']==' ?']

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
26,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
60,32,?,293936,7th-8th,4,Married-spouse-absent,?,Not-in-family,White,Male,0,0,40,?,<=50K
68,25,?,200681,Some-college,10,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
76,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
105,17,?,304873,10th,6,Never-married,?,Own-child,White,Female,34095,0,32,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32529,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32530,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32541,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K

In [139]:
adult_data.drop(adult_data[adult_data['workclass']==' ?'].index, inplace=True)

dropped the rows where the workclass is ['?']

Checking if PCA is Required and how many components

In [140]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# Load the data
df = adult_data

df = pd.get_dummies(df)

features = df.columns
x = df.loc[:, features].values
x = StandardScaler().fit_transform(x)

# Run PCA
pca = PCA()
principalComponents = pca.fit_transform(x)

explained_variance_ratio = pca.explained_variance_ratio_

for i, explained_variance in enumerate(explained_variance_ratio):
    print(f"Principal Component {i+1}: {explained_variance*100:.2f}% of the variance")

cumulative_variance = 0.0
num_components_to_keep = 0

for explained_variance in explained_variance_ratio:
    cumulative_variance += explained_variance
    num_components_to_keep += 1
    if cumulative_variance >= 0.95:
        break

print(f"Number of principal components to keep: {num_components_to_keep}")

Principal Component 1: 4.84% of the variance
Principal Component 2: 2.95% of the variance
Principal Component 3: 2.41% of the variance
Principal Component 4: 2.17% of the variance
Principal Component 5: 1.85% of the variance
Principal Component 6: 1.76% of the variance
Principal Component 7: 1.74% of the variance
Principal Component 8: 1.55% of the variance
Principal Component 9: 1.48% of the variance
Principal Component 10: 1.32% of the variance
Principal Component 11: 1.29% of the variance
Principal Component 12: 1.22% of the variance
Principal Component 13: 1.19% of the variance
Principal Component 14: 1.16% of the variance
Principal Component 15: 1.15% of the variance
Principal Component 16: 1.13% of the variance
Principal Component 17: 1.11% of the variance
Principal Component 18: 1.08% of the variance
Principal Component 19: 1.07% of the variance
Principal Component 20: 1.07% of the variance
Principal Component 21: 1.04% of the variance
Principal Component 22: 1.03% of the variance
Principal Component 23: 1.03% of the variance
Principal Component 24: 1.01% of the variance
Principal Component 25: 1.01% of the variance
Principal Component 26: 1.00% of the variance
Principal Component 27: 1.00% of the variance
Principal Component 28: 0.99% of the variance
Principal Component 29: 0.98% of the variance
Principal Component 30: 0.98% of the variance
Principal Component 31: 0.97% of the variance
Principal Component 32: 0.97% of the variance
Principal Component 33: 0.97% of the variance
Principal Component 34: 0.96% of the variance
Principal Component 35: 0.96% of the variance
Principal Component 36: 0.96% of the variance
Principal Component 37: 0.95% of the variance
Principal Component 38: 0.95% of the variance
Principal Component 39: 0.94% of the variance
Principal Component 40: 0.94% of the variance
Principal Component 41: 0.94% of the variance
Principal Component 42: 0.93% of the variance
Principal Component 43: 0.93% of the variance
Principal Component 44: 0.93% of the variance
Principal Component 45: 0.92% of the variance
Principal Component 46: 0.92% of the variance
Principal Component 47: 0.92% of the variance
Principal Component 48: 0.92% of the variance
Principal Component 49: 0.92% of the variance
Principal Component 50: 0.92% of the variance
Principal Component 51: 0.92% of the variance
Principal Component 52: 0.92% of the variance
Principal Component 53: 0.92% of the variance
Principal Component 54: 0.92% of the variance
Principal Component 55: 0.92% of the variance
Principal Component 56: 0.92% of the variance
Principal Component 57: 0.92% of the variance
Principal Component 58: 0.91% of the variance
Principal Component 59: 0.91% of the variance
Principal Component 60: 0.91% of the variance
Principal Component 61: 0.91% of the variance
Principal Component 62: 0.91% of the variance
Principal Component 63: 0.91% of the variance
Principal Component 64: 0.90% of the variance
Principal Component 65: 0.90% of the variance
Principal Component 66: 0.90% of the variance
Principal Component 67: 0.90% of the variance
Principal Component 68: 0.90% of the variance
Principal Component 69: 0.89% of the variance
Principal Component 70: 0.89% of the variance
Principal Component 71: 0.88% of the variance
Principal Component 72: 0.88% of the variance
Principal Component 73: 0.88% of the variance
Principal Component 74: 0.87% of the variance
Principal Component 75: 0.87% of the variance
Principal Component 76: 0.86% of the variance
Principal Component 77: 0.85% of the variance
Principal Component 78: 0.84% of the variance
Principal Component 79: 0.84% of the variance
Principal Component 80: 0.83% of the variance
Principal Component 81: 0.82% of the variance
Principal Component 82: 0.82% of the variance
Principal Component 83: 0.79% of the variance
Principal Component 84: 0.79% of the variance
Principal Component 85: 0.75% of the variance
Principal Component 86: 0.74% of the variance
Principal Component 87: 0.72% of the variance
Principal Component 88: 0.71% of the variance
Principal Component 89: 0.67% of the variance
Principal Component 90: 0.67% of the variance
Principal Component 91: 0.61% of the variance
Principal Component 92: 0.57% of the variance
Principal Component 93: 0.55% of the variance
Principal Component 94: 0.50% of the variance
Principal Component 95: 0.44% of the variance
Principal Component 96: 0.40% of the variance
Principal Component 97: 0.25% of the variance
Principal Component 98: 0.02% of the variance
Principal Component 99: 0.00% of the variance
Principal Component 100: 0.00% of the variance
Principal Component 101: 0.00% of the variance
Principal Component 102: 0.00% of the variance
Principal Component 103: 0.00% of the variance
Principal Component 104: 0.00% of the variance
Principal Component 105: 0.00% of the variance
Principal Component 106: 0.00% of the variance
Principal Component 107: 0.00% of the variance
Principal Component 108: 0.00% of the variance
Principal Component 109: 0.00% of the variance
Number of principal components to keep: 88

88 components to keep ... so far not required we can check on it later

In [143]:
adult_data.drop(adult_data[adult_data['occupation']==' ?'].index, inplace=True)  
adult_data.drop(adult_data[adult_data['native-country']==' ?'].index, inplace=True)

In [145]:
adult_data.to_csv('Data\\cleaned_adult_data.csv', index=False)

Cleaned the data by dropping the missing values